[Unit]
Description=Docker Compose for RoomService
Requires=docker.service
After=docker.service
StartLimitIntervalSec=0

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/home/chempik1234/roomservice
ExecStart=/usr/local/bin/docker compose up -d
ExecStop=/usr/local/bin/docker compose down
TimeoutStartSec=0
TimeoutStopSec=30

[Install]
WantedBy=multi-user.target
